<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="{{ lst.s_image.url }}" width="300px" alt="">
    </div>
    <div>
        <div>Name: </div>
        <div>{{lst.s_name}}</div>
        <div>father Name: </div>
        <div>{{lst.s_father_name}}</div>
        <div>Date of Birth: </div>
        <div>{{lst.s_birth}}</div>
        <div>Phone: </div>
        <div>{{lst.s_phone}}</div>
        <div> E-mail: </div>
        <div>{{lst.s_email}}</div>

    </div>

    <a href="/delete/{{lst.s_roll}}/">delete</a>


    <a href="../">back</a>
</body>
</html>