{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/students/tailwind-output.css' %}">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>{{user.username}}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
<br>
    <input type="search" id="search" autocomplete="off" placeholder="Search" >

    <br>
    <br>
    <ul id="search_result">
        <li>ad</li>
    </ul>
    <a href="{% url 'add' %}" class="text-2xl"><button>Add student</button></a>

    <table>
        <tr>
                <td>Name</td>
                <td>Father Name</td>
        </tr>
    {% for student in stu_lst %}
        
        <tr>
            <td><a href="../home/{{ student.s_roll }}">{{ student.s_name }}</a></td>
            <td><a href="../home/{{ student.s_roll }}">{{ student.s_father_name }}</a></td>
        </tr>
    {% endfor %}
    </table>


    <script src="{% static 'students/app.js' %}"></script>

</body>
</html>