<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>{{user.username}}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
        
    <h1>acount created</h1>
    <a href="{% url 'add' %}"><button>Add student</button></a>

    {% for student in stu_lst %}
        <h1>{{ student.s_name }}  {{ student.s_father_name}}
            {{student.s_birth}} {{student.s_phone}}{{student.s_email}}</h1>
            <img src="{{ student.s_image }}" />
    {% endfor %}
</body>
</html>